/.vscode
/db.sqlite3
/env
.env
infinite_stories/__pycache__
frontend/__pycache__
api/migrations/__pycache__
api/__pycache__
api/migrations/__pycache__
*.pyc
*.pyo
frontend/migrations/__pycache__/__init__.cpython-38.pyc
