/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    height: 80px;
    border-bottom: 4px solid #D3D3D3;
    background-color: white;
  }

.nes-container-main {
    margin-top: 80px; 
    margin-bottom: 75px; 
    border-top: 0px;
}
.footer {
    position: fixed;
    height: 80px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
  }

.nes-container-top {
    border-bottom: 0px;
}

