<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <title>Hello, Django</title>
        <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
        <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />
        <link rel="stylesheet" href="{% static "main.css" %}">

        <style>
          html, body, pre, code, kbd, samp {
              font-family: "Press Start 2P";
          }
        </style>
    </head>
    <body>
        <header>
            <div class="nes-container nes-container-top">
                <strong>Infinite Stories - The Messdsfqdmfs, {{ name }}!</strong>
            </div>
        </header>

        <div class="nes-container nes-container-main">
            <!-- Balloon 'is-dark'  -->
            <section class="nes-container is-dark">
                <section class="message-list">
                    <section class="message -left">
                    <img src={% static "yukiopixel.png" %}>
                    <div class="nes-balloon from-left is-dark">
                        <p>Plainly there is no way back. Like it or not, we are stuck with science. We had better make the best of it. When we finally come to terms with it and fully recognize its beauty and its power, we will find, in spiritual as well as in practical matters, that we have made a bargain strongly in our favour.</p>
                    </div>
                    </section>
            
                    <section class="message -right">
                    <!-- Balloon -->
                    <div class="nes-balloon from-right is-dark">
                        <p>Good morning. Thou hast had a good night's sleep, I hope.</p>
                        <p>It's disheartening to discover government corruption and incompetence, for example; but it is better not to know about it? Whose interest does ignorance serve? If we humans bear, say, hereditary propensities toward the hatred of strangers, isn't self-knowledge the only antidote? If we long to believe that the stars rise and set for us, that we are the reason there is a Universe, does science do us a disservice in deflating our conceits?</p>
                    </div>
                    <img src={% static "melipixelTODO.png" %}>
                    </section>
                </section>
            </section>

            <section>
                <div class="nes-container with-title ">
                    <p class="title">Your answer !</p>
                    <textarea id="textarea_field" class="nes-textarea"></textarea>
                    <button type="button" class="nes-btn">Send</button>
                </div>
            </section>
        </div>
        
        <div class="footer">
            <div class="nes-container">
                <strong>FOOTER BUTTONS ?</strong>
            </div>
        </div>

    
    <!-- <div class="nes-container">
        <div class="nes-container is-dark with-title">
            <p class="title">Help</p>
            <p>Good morning. Thou hast had a good night's sleep, I hope.</p>
            <p>I will try to explain what I am dooing here, I am nond</p>
            <p></p>
        </div>
        <div class="nes-container is-dark with-title">
            <p class="title">Introduction</p>
            <p>Good morning. Thou hast had a good night's sleep, I hope.</p>
            <p>I will try to explain what I am dooing here, I am nond</p>
        </div>
        <div class="nes-container with-title ">
            <p class="title">Your answer !</p>
            <textarea id="textarea_field" class="nes-textarea"></textarea>
            <button type="button" class="nes-btn">Send</button>
        </div>
    </div> -->

    </body>
</html>